.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

.react-datepicker-wrapper .react-datepicker__input-container input{
  border: 1px solid lightgrey;
  height: 40px;
  border-radius: 5px;
  font-size:medium ;
  padding-left: .5rem;
  font-style: normal;
}

.react-datepicker-wrapper .react-datepicker__input-container input::placeholder{
/* color:red; */
padding-left: .5rem;
font-size: medium;
}
